.wrapper{
	font-size: 40px;
}

.first-row{
	padding: 0;
	margin: 0;
	background-color: black; 
	height: 250px;
	font-size: 5em;
	border-bottom: 3px solid gray;
}

.parent{
	position: relative;
}

.child{
	position: absolute;

	top: 25%;
}

img{
	height: 240px;
}

footer{
	padding-top: 15px;
}