.wrapper{
	font-size: 40px;
}

.first-row{
	padding: 0;
	margin: 0;
	background-color: black; 
	height: 250px;
	font-size: 5em;
}

.parent{
	position: relative;
}

.child{
	position: absolute;

	top: 35%;
	left: 35%;

}